.task15_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task15_imgWrapper {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.task15_imgWrapper img {
    max-width: 100%;
}

.task15_line {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 5px;
}

.task15_answer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 240px;
    margin: 5px;
}

.task15_answer>img {
    width: 100%;
}

.task15_answer input {
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #0AB7D3;
    align-self: center;
}

.task15_answer>p {
    margin: 0;
    align-self: center
}

.task15_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task15_chek_answer {
    font-size: 26px;
}

.task15_play {
    cursor: pointer;
}